@import '../../_SCSS/Utils/colors';

%btn {
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    border: 0;
    font-weight: 500;
    cursor: pointer;
    &.big{
        padding: 10px;
    }
}