// =============================================
// * BUTTON COMPONENT STYLES
// *
// * Only contain button styles. no other styles
// * allowed
// *
// * @author Pratama Hasriyan <pratama@hasriyan.com>
// =============================================

// * [IMPORTS]
// =============================================
@import '../../_SCSS/Utils/variables';
@import '../../_SCSS/Utils/colors';

// * [BUTTONS]
// =============================================
.#{$prefix}-btn {
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    border: 0;
    font-weight: 500;
    cursor: pointer;

    &-tiny {
        padding: 3px;
        font-size: 11px;
    }

    &-small {
        padding: 3px;
        font-size: 14px;
    }

    &-large {
        padding: 10px;
    }

    &-primary {
        background-color: $color-primary;
        color: $white;
    }

    &-secondary {
        background-color: $color-secondary;
        color: $white;
    }

    &-warning {
        background-color: $color-warning;
        color: $white;
    }
}