// =============================================
// * BASE STYLES
// *
// * Global styles, applied globally 
// *
// * @author Pratama Hasriyan <pratama@hasriyan.com>
// =============================================

// * [ROOTS]
// =============================================

:root {
    font-size: $base-font-size;
}

html {
    background-color: $color-background;
    box-sizing: border-box;
    height: 100%;
}

* {

    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// * [BODY STYLES]
// =============================================
body {
    color: $color-text;
    font-family: $font-family-default;
    font-size: 1rem;
    line-height: 1.25;
    min-height: 100%;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// * [LINK STYLES]
// =============================================
a {
    text-decoration: none;
    background: transparent;
    color: $color-link;
    transition: color .2s;

    &:hover {
        text-decoration: none;
    }
}

// *----------[Link inside paragraph]----------*/
p {
    a {}
}

// * [IMAGE STYLES]
// =============================================
img {
    height: auto;
    max-width: 100%;
}

// * [TYPOGRAPHY STYLES STYLES]
// =============================================
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-display;
    font-weight: normal;
}

// * [CODE STYLES]
// =============================================
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}